@charset "UTF-8";
@import url("http://fonts.cdnfonts.com/css/bozon");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
.styles-module_no-scroll__3IUv5 {
  touch-action: none; }

.styles-module_theme__1FIRA {
  --color-cell-border: hsl(214, 32%, 91%);
  --color-cell-border-dark: hsla(0, 0%, 0%, 0.25);
  --color-cell-hover: hsla(173, 36%, 95%, 1);
  --color-cell-hover-text: hsla(173, 40%, 51%, 1);
  --color-drag-box-border: hsla(209, 97%, 50%, 0.5);
  --color-drag-box-background: hsla(209, 97%, 65%, 0.5);
  --color-handle-wrapper-text: hsla(209, 100%, 80%, 0.5);
  --color-timeline-text: hsl(0, 0%, 48%);
  --color-header-background: white;
  --color-event-text: white;
  --color-event-text-past-google: hsl(213, 25%, 67%);
  --color-event-background: hsl(173, 40%, 51%);
  --color-event-active-background: hsl(173, 40%, 51%);
  --color-event-google-background: hsl(216, 38%, 95%);
  --color-event-past-google-background: hsl(216, 45%, 98%);
  --color-event-hover-background: hsl(173, 40%, 51%);
  --color-event-shadow-1: hsla(202, 100%, 16%, 0.5);
  --color-event-shadow-2: rgba(217, 217, 217, 0.5);
  --color-header-shadow-1: hsla(0, 0%, 50%, 0.2);
  --color-header-shadow-2: hsla(0, 0%, 85%, 0.239);
  --color-timeline-background: white;
  --color-grid-background: white;
  --color-header-text-past: hsl(216, 20%, 69%);
  --color-header-text-current: hsl(213, 49%, 34%);
  --cell-height: 42px;
  --cell-width: 189px; }

.styles-module_root__2iNXQ {
  --z-index-handle-wrapper: 1;
  --z-index-layer-container: 1;
  --z-index-event: 2;
  --z-index-event-is-pending-creation: 1;
  --z-index-event-active: 3;
  --z-index-draggable: 2;
  --z-index-dragging: 3;
  --z-index-day-header-row: 2;
  --z-index-header: 1;
  --z-index-timeline: 2;
  --z-index-timeline-header: 1;
  contain: strict;
  overflow: auto;
  margin-top: 24px;
  background: var(--color-grid-background, white);
  border: 1px solid var(--color-cell-border);
  border-top: none;
  border-color: transparent; }
  .styles-module_root__2iNXQ,
  .styles-module_root__2iNXQ * {
    box-sizing: border-box; }
  .styles-module_root__2iNXQ ::-webkit-scrollbar {
    width: 0px;
    background: transparent; }

.styles-module_grid-root__2ktzS {
  position: relative;
  display: table;
  overflow: auto;
  width: 100%; }

.styles-module_debug__2eCNx:not(.styles-module_debug-active__QqNIZ) {
  display: none; }

.styles-module_calendar__tGgRK {
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  display: flex;
  position: relative;
  border-collapse: collapse; }

.styles-module_react-draggable__3LVqd {
  position: absolute; }

.styles-module_handle-wrapper__26Eew {
  z-index: var(--z-index-handle-wrapper);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-position: center;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
  box-sizing: border-box;
  color: var(--color-handle-wrapper-text);
  vertical-align: middle; }
  .styles-module_handle-wrapper__26Eew .styles-module_handle__LTyBN.styles-module_top__3D7og {
    top: -6px !important; }
  .styles-module_handle-wrapper__26Eew .styles-module_handle__LTyBN.styles-module_bottom__daw_j {
    bottom: 2px !important; }
  .styles-module_handle-wrapper__26Eew .styles-module_handle__LTyBN.styles-module_top__3D7og::after,
  .styles-module_handle-wrapper__26Eew .styles-module_handle__LTyBN.styles-module_bottom__daw_j::after {
    display: block;
    content: '';
    background: white;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    border: 2px solid #32a093;
    margin: 0 auto;
    box-sizing: border-box; }

.styles-module_layer-container__1wxVL {
  position: relative;
  height: 100%;
  z-index: var(--z-index-layer-container); }
  .styles-module_layer-container__1wxVL .styles-module_calendar__tGgRK {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .styles-module_layer-container__1wxVL .styles-module_day-hours__1E9lT:not(.styles-module_is-past__uYDtP) .styles-module_cell__sVJZY:hover {
    background: var(--color-cell-hover);
    border: 2px dashed var(--color-cell-hover-text);
    border-radius: 8px;
    cursor: pointer; }
    .styles-module_layer-container__1wxVL .styles-module_day-hours__1E9lT:not(.styles-module_is-past__uYDtP) .styles-module_cell__sVJZY:hover:after {
      content: '+ Add availability';
      color: var(--color-cell-hover-text);
      margin: 6px;
      font-weight: 600;
      font-size: 12px; }
  .styles-module_layer-container__1wxVL .styles-module_event__1PixZ {
    z-index: var(--z-index-event); }
  .styles-module_layer-container__1wxVL .styles-module_calendar__tGgRK {
    position: absolute;
    z-index: var(--z-index-calendar); }
  .styles-module_layer-container__1wxVL .styles-module_drag-box__3w784 {
    will-change: transform;
    contain: strict;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 0;
    top: 0;
    z-index: var(--z-index-drag-box);
    border: 3px dashed var(--color-drag-box-border);
    background: var(--color-drag-box-background);
    width: 100px;
    height: 100px; }

.styles-module_draggable__1Z1sE {
  z-index: var(--z-index-draggable); }

.styles-module_button-reset__1EwGq {
  outline: none;
  -webkit-appearance: none;
          appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  all: unset;
  text-align: initial;
  color: inherit; }

.styles-module_is-draggable__176XM {
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: grab; }

.styles-module_is-draggable__176XM.react-draggable-dragging {
  cursor: grabbing;
  z-index: var(--z-index-dragging) !important; }

.styles-module_tooltip__255C3 {
  padding: 0; }
  .styles-module_tooltip__255C3 button {
    padding: 0.3125rem 0.5625rem;
    -webkit-appearance: none;
            appearance: none;
    background: transparent;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer; }
    .styles-module_tooltip__255C3 button .styles-module_icon__28xum {
      filter: brightness(0) invert(1); }

.styles-module_event__1PixZ {
  will-change: height;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  z-index: var(--z-index-event);
  margin: 0;
  position: absolute;
  font-size: 1rem;
  outline: none;
  background: var(--background, var(--color-event-background));
  color: var(--color-event-text);
  left: 0;
  right: 0;
  width: 100px;
  height: 50px;
  text-overflow: ellipsis;
  border: 1px solid #32a093;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px rgba(50, 160, 147, 0.5);
  border-radius: 8px; }
  .styles-module_event__1PixZ:not(.styles-module_is-pending-creation__3Qr4x):not([disabled]):not(.styles-module_is-disabled__2JPDR):focus, .styles-module_event__1PixZ:not(.styles-module_is-pending-creation__3Qr4x):not([disabled]):not(.styles-module_is-disabled__2JPDR):hover {
    box-shadow: 0 1px 5px 1px var(--color-event-shadow-1), 0 5px 10px 1px var(--color-event-shadow-2); }
  .styles-module_event__1PixZ:not(.styles-module_is-pending-creation__3Qr4x):not([disabled]):not(.styles-module_is-disabled__2JPDR):focus-within {
    box-shadow: 0 1px 5px 1px var(--color-event-shadow-1), 0 5px 10px 1px var(--color-event-shadow-2); }
  .styles-module_event__1PixZ:not(.styles-module_is-pending-creation__3Qr4x):not([disabled]):not(.styles-module_is-disabled__2JPDR):hover {
    --background: var(--color-event-hover-background); }
  .styles-module_event__1PixZ:not(.styles-module_is-pending-creation__3Qr4x):not([disabled]):not(.styles-module_is-disabled__2JPDR):focus {
    --background: var(--color-event-active-background);
    z-index: var(--z-index-event-active); }
  .styles-module_event__1PixZ:not(.styles-module_is-pending-creation__3Qr4x):not([disabled]):not(.styles-module_is-disabled__2JPDR):focus-within {
    --background: var(--color-event-active-background);
    z-index: var(--z-index-event-active); }
  .styles-module_event__1PixZ.styles-module_is-google__1c54q {
    background: var(--color-event-google-background);
    color: #2c5282;
    border: 1px solid var(--color-event-google-background);
    box-shadow: none;
    cursor: default; }
  .styles-module_event__1PixZ.styles-module_is-past__uYDtP {
    background: var(--color-event-past-google-background);
    color: var(--color-event-text-past-google);
    box-shadow: none; }
  .styles-module_event__1PixZ.styles-module_is-pending-creation__3Qr4x {
    z-index: var(--z-index-event-is-pending-creation);
    opacity: 0.75; }

.styles-module_indicator__37i_p {
  background: #2c5282;
  z-index: var(--z-index-event);
  position: relative;
  pointer-events: none; }
  .styles-module_indicator__37i_p:before {
    content: '';
    position: absolute;
    top: -6px;
    left: -7px;
    background: #2c5282;
    width: 14px;
    height: 14px;
    border-radius: 50%; }

.styles-module_hours-container__2srEU {
  display: flex; }

.styles-module_day-column__30McI {
  flex: 1 1 var(--cell-width, 250px);
  min-width: var(--cell-min-width, 189px); }
  .styles-module_day-column__30McI .styles-module_day-hours__1E9lT {
    display: flex;
    flex-direction: column;
    position: relative; }
    .styles-module_day-column__30McI .styles-module_day-hours__1E9lT.styles-module_is-past__uYDtP {
      pointer-events: none; }
  .styles-module_day-column__30McI .styles-module_cell__sVJZY {
    flex: 1 1 var(--cell-height, 42px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
    .styles-module_day-column__30McI .styles-module_cell__sVJZY .styles-module_time__LJQW4 {
      color: var(--color-timeline-text);
      font-size: 0.75em;
      text-transform: uppercase; }
  .styles-module_day-column__30McI .styles-module_title__2VBFp {
    padding: 10px 10px; }

.styles-module_cell__sVJZY:first-child,
.styles-module_cell__sVJZY + .styles-module_cell__sVJZY {
  border: 1px solid var(--color-cell-border);
  border-bottom: 0;
  border-left: 0; }

.styles-module_header__10uIZ .styles-module_cell__sVJZY {
  line-height: 24px;
  justify-content: center;
  align-items: center;
  color: #718096; }
  .styles-module_header__10uIZ .styles-module_cell__sVJZY span {
    display: inline-block;
    margin-right: 3px;
    font-weight: bold; }
    .styles-module_header__10uIZ .styles-module_cell__sVJZY span:first-of-type {
      font-weight: normal; }
  .styles-module_header__10uIZ .styles-module_cell__sVJZY.styles-module_is-past__uYDtP {
    color: var(--color-header-text-past);
    pointer-events: none; }
  .styles-module_header__10uIZ .styles-module_cell__sVJZY.styles-module_is-current__19oIX {
    color: var(--color-header-text-current); }
    .styles-module_header__10uIZ .styles-module_cell__sVJZY.styles-module_is-current__19oIX .styles-module_date__a2LvS {
      color: white;
      background: #2c5282;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      font-weight: bold;
      margin-left: 3px; }

.styles-module_header__10uIZ .styles-module_cell__sVJZY .styles-module_day-header-row__27lss {
  z-index: var(--z-index-day-header-row); }

.styles-module_sticky-top__2dSgb {
  position: sticky;
  top: 0;
  z-index: var(--z-index-day-header-row);
  border: 1px solid var(--color-cell-border);
  box-sizing: border-box;
  box-shadow: 0px 2px 5px rgba(203, 212, 224, 0.5), -1px 1px 0px var(--color-cell-border), -1px -1px 0px var(--color-cell-border);
  border-radius: 8px 8px 0px 0px;
  background: var(--color-header-background);
  border-collapse: collapse; }

.styles-module_sticky-left__3tNLK {
  position: sticky;
  left: 0; }
  .styles-module_sticky-left__3tNLK.styles-module_day-hours__1E9lT {
    border-left: 0; }

.styles-module_header__10uIZ {
  will-change: transform;
  z-index: var(--z-index-header); }

.styles-module_day-column__30McI.styles-module_first__IeNvS {
  width: 100px;
  max-width: 100px;
  min-width: 0;
  flex-grow: 0;
  flex-shrink: 0; }

.styles-module_popup__2iu0Y {
  position: absolute;
  top: 0;
  left: 0; }

.styles-module_range-boxes__ib1Nb .styles-module_event-content__3sakH {
  overflow: hidden;
  padding: 4px 10px;
  font-weight: bold;
  font-size: 12px;
  width: 100%;
  height: 100%;
  white-space: pre-wrap; }
  .styles-module_range-boxes__ib1Nb .styles-module_event-content__3sakH > * {
    width: 100%; }

.styles-module_range-boxes__ib1Nb .styles-module_hide-separator__3lgW- .styles-module_start__3CzHL:after {
  content: ' '; }

.styles-module_range-boxes__ib1Nb .styles-module_external-meeting__UUOM9 .styles-module_start__3CzHL:after {
  content: ' '; }

.styles-module_range-boxes__ib1Nb .styles-module_external-meeting__UUOM9 .styles-module_end__2L7Oy {
  display: inline-block;
  height: 50%;
  font-weight: normal;
  overflow: hidden; }

.styles-module_range-boxes__ib1Nb .styles-module_start__3CzHL {
  display: inline; }
  .styles-module_range-boxes__ib1Nb .styles-module_start__3CzHL:after {
    content: ' \2013  ';
    display: inline; }

.styles-module_range-boxes__ib1Nb .styles-module_end__2L7Oy {
  display: inline; }

.styles-module_range-boxes__ib1Nb .styles-module_status__3TugN {
  display: inline-block;
  font-weight: 400;
  font-size: 12px; }

.styles-module_timeline__1hCLT {
  display: table-cell;
  text-align: end;
  z-index: var(--z-index-timeline); }
  .styles-module_timeline__1hCLT .styles-module_day-column__30McI {
    background: var(--color-timeline-background);
    min-width: auto;
    flex: 0 0 auto; }
  .styles-module_timeline__1hCLT .styles-module_day-hours__1E9lT {
    border-right: 1px solid var(--color-cell-border); }

.styles-module_timeline__1hCLT .styles-module_header__10uIZ {
  z-index: var(--z-index-timeline-header);
  box-shadow: none;
  background: var(--color-timeline-background);
  height: 46px;
  position: sticky;
  top: 0; }
  .styles-module_timeline__1hCLT .styles-module_header__10uIZ .styles-module_cell__sVJZY {
    visibility: hidden; }

.styles-module_timeline__1hCLT > *:not(.styles-module_header__10uIZ) .styles-module_cell__sVJZY {
  position: relative;
  top: -8px;
  border-left: 0;
  border-color: transparent;
  text-align: end;
  justify-content: flex-end; }
  .styles-module_timeline__1hCLT > *:not(.styles-module_header__10uIZ) .styles-module_cell__sVJZY:first-child {
    visibility: hidden; }
  .styles-module_timeline__1hCLT > *:not(.styles-module_header__10uIZ) .styles-module_cell__sVJZY:hover,
  .styles-module_timeline__1hCLT > *:not(.styles-module_header__10uIZ) .styles-module_cell__sVJZY + .styles-module_cell__sVJZY:hover {
    background: var(--color-grid-background); }
    .styles-module_timeline__1hCLT > *:not(.styles-module_header__10uIZ) .styles-module_cell__sVJZY:hover:after,
    .styles-module_timeline__1hCLT > *:not(.styles-module_header__10uIZ) .styles-module_cell__sVJZY + .styles-module_cell__sVJZY:hover:after {
      content: none; }
  .styles-module_timeline__1hCLT > *:not(.styles-module_header__10uIZ) .styles-module_cell__sVJZY .styles-module_time__LJQW4 {
    background: inherit;
    padding: 0 12px; }

@keyframes styles-module_fadeIn__2rVIy {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes styles-module_fadeOut__2044B {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes styles-module_slideIn__34P6y {
  from {
    transform: translateY(-50px); }
  to {
    transform: translateY(0); } }

@keyframes styles-module_slideOut__38r8O {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-50px); } }

.styles-module_layout__32BdV {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  color: #1c344b;
  flex-direction: column;
  max-width: 100vw;
  background-color: #f6f9fc;
  font-feature-settings: 'kern' 1;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  font-weight: 500;
  display: flex;
  overflow-x: hidden; }
  @media only screen and (min-width: 768px) {
    .styles-module_layout__32BdV {
      font-size: 16.19048px;
      line-height: 1.42857; } }
  @media only screen and (min-width: 1441px) {
    .styles-module_layout__32BdV {
      font-size: 17px;
      line-height: 1.5; } }

#styles-module_react-cool-portal__1iUEc .styles-module_layout__32BdV {
  display: inline; }

.styles-module_modal__2N8Vl {
  animation: styles-module_slideIn__34P6y 0.3s ease-out;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 360px;
  overflow: auto;
  display: none;
  z-index: 100;
  color: inherit; }
  .styles-module_modal-wrapper__3CXDG {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 360px;
    z-index: 100;
    background-color: #ffffff;
    animation: styles-module_fadeIn__2rVIy 0.3s linear;
    padding: 24px;
    border: 1px solid #e2e8f0;
    box-shadow: 0px -8px 16px rgba(74, 87, 104, 0.1);
    border-radius: 20px 20px 0px 0px; }
    .styles-module_modal-wrapper-fadeout__vulbs {
      animation-name: styles-module_fadeOut__2044B; }
      .styles-module_modal-wrapper-fadeout__vulbs .styles-module_modal__2N8Vl {
        animation-name: styles-module_slideOut__38r8O; }
  .styles-module_modal__2N8Vl.styles-module_is-opened__1MCV_ {
    display: block; }
  .styles-module_modal-overlay__1pfHX {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba(54, 87, 120, 0.7); }
  .styles-module_modal-window__39aHP {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%) translateY(-50%);
    z-index: 102;
    background-color: white;
    max-width: 980px;
    border-radius: 6px;
    margin: 0 auto; }
    @media only screen and (max-width: 767px) {
      .styles-module_modal-window__39aHP {
        width: 90%; } }
    .styles-module_modal-window-focus__1Dssv {
      max-width: 480px; }
      @media only screen and (min-width: 768px) {
        .styles-module_modal-window-focus__1Dssv {
          width: 480px; } }
    .styles-module_modal-window-tight__3tJ00 {
      max-width: 720px; }
    .styles-module_modal-window-small__cvPRC {
      max-width: 840px; }
  .styles-module_modal__2N8Vl .styles-module_header__10uIZ {
    display: flex;
    align-items: center;
    margin-bottom: 24px; }
    .styles-module_modal__2N8Vl .styles-module_header__10uIZ .styles-module_remove-btn__3Q93c {
      font: inherit;
      font-size: 12px;
      font-weight: 600;
      color: inherit;
      padding: 8px 12px;
      background: #ffffff;
      border: 1px solid #cbd4e0;
      box-shadow: 0px 1px 3px rgba(26, 34, 44, 0.1);
      border-radius: 8px;
      margin-left: auto; }
  .styles-module_modal__2N8Vl .styles-module_title__2VBFp {
    font-family: 'Bozon', sans-serif;
    margin-bottom: 0;
    padding-right: 20px;
    font-size: 16px;
    font-weight: bold; }
  .styles-module_modal__2N8Vl .styles-module_modal-body__1sGvV {
    max-height: 90vh;
    overflow-y: scroll;
    position: relative; }
    .styles-module_modal__2N8Vl .styles-module_modal-body-noscroll__2plsq {
      overflow-y: auto; }
    .styles-module_modal__2N8Vl .styles-module_modal-body__1sGvV .styles-module_save-btn__24-8V {
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      margin: 24px auto;
      display: flex;
      text-align: center;
      padding: 9px 16px;
      color: #fff;
      background: #2c5282;
      border-radius: 8px;
      border: none;
      width: 100%;
      justify-content: center; }
    .styles-module_modal__2N8Vl .styles-module_modal-body__1sGvV .styles-module_time-row__3nibL {
      display: flex;
      align-items: baseline; }
      .styles-module_modal__2N8Vl .styles-module_modal-body__1sGvV .styles-module_time-row__3nibL svg {
        margin-right: 15px;
        align-self: center; }
      .styles-module_modal__2N8Vl .styles-module_modal-body__1sGvV .styles-module_time-row__3nibL label {
        font-family: 'Bozon', sans-serif;
        font-weight: 600;
        white-space: nowrap; }
      .styles-module_modal__2N8Vl .styles-module_modal-body__1sGvV .styles-module_time-row__3nibL input,
      .styles-module_modal__2N8Vl .styles-module_modal-body__1sGvV .styles-module_time-row__3nibL .styles-module_dropdown-label__16g2W {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        line-height: 22px;
        color: #2c5282;
        text-align: center;
        border: 1px solid #cbd4e0;
        padding: 12px;
        box-sizing: border-box;
        border-radius: 8px; }
        .styles-module_modal__2N8Vl .styles-module_modal-body__1sGvV .styles-module_time-row__3nibL input + span,
        .styles-module_modal__2N8Vl .styles-module_modal-body__1sGvV .styles-module_time-row__3nibL .styles-module_dropdown-label__16g2W + span {
          margin: 0 12px; }
    .styles-module_modal__2N8Vl .styles-module_modal-body__1sGvV .styles-module_input-container__2c1BO {
      justify-self: right; }
    .styles-module_modal__2N8Vl .styles-module_modal-body__1sGvV .styles-module_time-input__2Xc2G {
      margin-left: auto;
      width: 48px; }
    .styles-module_modal__2N8Vl .styles-module_modal-body__1sGvV .styles-module_dropdown__1W5Os {
      position: relative;
      width: 80px;
      align-self: normal; }
      .styles-module_modal__2N8Vl .styles-module_modal-body__1sGvV .styles-module_dropdown-label__16g2W {
        pointer-events: none;
        position: absolute;
        width: 80px;
        background-color: #fff;
        z-index: 999;
        text-align: initial; }
        .styles-module_modal__2N8Vl .styles-module_modal-body__1sGvV .styles-module_dropdown-label__16g2W::after {
          position: absolute;
          content: '>';
          transform: rotate(90deg);
          font-size: 20px;
          right: 12px; }
      .styles-module_modal__2N8Vl .styles-module_modal-body__1sGvV .styles-module_dropdown-select__3Mukm {
        position: absolute;
        width: 80px;
        height: 48px;
        border-radius: 8px;
        outline: none; }
  .styles-module_modal__2N8Vl .styles-module_close__pJeAC {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    text-align: center;
    vertical-align: bottom;
    line-height: 32px;
    background-color: rgba(54, 87, 120, 0.1);
    margin-left: 16px;
    border: none; }
    .styles-module_modal__2N8Vl .styles-module_close__pJeAC::before {
      font-weight: bold;
      content: '\D7';
      color: #2d8176;
      font-size: 22px; }

.styles-module_edit-meeting-popup__2qVce {
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
  top: initial;
  z-index: 9999;
  width: 100%;
  height: 60%;
  background: #ffffff;
  border-radius: 12px 12px 0 0;
  box-shadow: 0px -4px 80px 0px rgba(28, 52, 75, 0.2);
  border: 1px solid rgba(54, 87, 120, 0.13); }
  .styles-module_edit-meeting-popup__2qVce ::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar */
    background: transparent; }
  @media only screen and (min-width: 1024px) {
    .styles-module_edit-meeting-popup__2qVce {
      width: 275px;
      height: 490px;
      position: absolute;
      left: -291px;
      top: -222px;
      box-shadow: 2px 2px 80px rgba(28, 52, 75, 0.26);
      overflow: initial;
      border-radius: 12px; }
      .styles-module_edit-meeting-popup__2qVce:after {
        content: '';
        display: block;
        width: 23px;
        height: 23px;
        position: absolute;
        background-color: #ffffff;
        transform: rotate(45deg);
        border-radius: 0 6px 0 32px;
        right: -11px;
        top: 50%; } }
  .styles-module_edit-meeting-popup-header__28VQJ {
    padding-bottom: 0.5rem; }
  .styles-module_edit-meeting-popup-close__2JWGS {
    background: none;
    cursor: pointer;
    color: #365778;
    z-index: 1;
    right: 8px;
    top: 0; }
  .styles-module_edit-meeting-popup-body__1DkXc {
    height: calc(100% - 55px); }

.styles-module_show__22b6d {
  display: block; }
  @media only screen and (min-width: 1248px) {
    .styles-module_show-up-to-desktops__344s0 {
      display: none !important; } }
  @media only screen and (min-width: 1024px) {
    .styles-module_show-up-to-laptops__3-bhY {
      display: none !important; } }
  @media only screen and (min-width: 768px) {
    .styles-module_show-up-to-tablets__2hfuV {
      display: none !important; } }
  @media only screen and (min-width: 400px) {
    .styles-module_show-up-to-phones__1I7h- {
      display: none !important; } }

/*# sourceMappingURL=index.css.map */