.no-scroll {
  touch-action: none;
}

.theme {
  --color-cell-border: hsl(214, 32%, 91%);
  --color-cell-border-dark: hsla(0, 0%, 0%, 0.25);
  --color-cell-hover: hsla(173, 36%, 95%, 1);
  --color-cell-hover-text: hsla(173, 40%, 51%, 1);
  --color-drag-box-border: hsla(209, 97%, 50%, 0.5);
  --color-drag-box-background: hsla(209, 97%, 65%, 0.5);
  --color-handle-wrapper-text: hsla(209, 100%, 80%, 0.5);
  --color-timeline-text: hsl(0, 0%, 48%);
  --color-header-background: white;
  --color-event-text: white;
  --color-event-text-past-google: hsl(213, 25%, 67%);
  --color-event-background: hsl(173, 40%, 51%);
  --color-event-active-background: hsl(173, 40%, 51%);
  --color-event-google-background: hsl(216, 38%, 95%);
  --color-event-past-google-background: hsl(216, 45%, 98%);
  --color-event-hover-background: hsl(173, 40%, 51%);
  --color-event-shadow-1: hsla(202, 100%, 16%, 0.5);
  --color-event-shadow-2: rgba(217, 217, 217, 0.5);
  --color-header-shadow-1: hsla(0, 0%, 50%, 0.2);
  --color-header-shadow-2: hsla(0, 0%, 85%, 0.239);
  --color-timeline-background: white;
  --color-grid-background: white;
  --color-header-text-past: hsl(216, 20%, 69%);
  --color-header-text-current: hsl(213, 49%, 34%);
  --cell-height: 42px;
  --cell-width: 189px;
}

.root {
  --z-index-handle-wrapper: 1;
  --z-index-layer-container: 1;
  --z-index-event: 2;
  --z-index-event-is-pending-creation: 1;
  --z-index-event-active: 3;
  --z-index-draggable: 2;
  --z-index-dragging: 3;
  --z-index-day-header-row: 2;
  --z-index-header: 1;
  --z-index-timeline: 2;
  --z-index-timeline-header: 1;

  contain: strict;
  overflow: auto;
  margin-top: 24px;
  background: var(--color-grid-background, white);
  border: 1px solid var(--color-cell-border);
  border-top: none;
  border-color: transparent;

  &,
  * {
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

.grid-root {
  position: relative;
  display: table;
  overflow: auto;
  width: 100%;
}

.debug {
  &:not(.debug-active) {
    display: none;
  }
}

.calendar {
  user-select: none;
  text-align: center;
  display: flex;
  position: relative;
  border-collapse: collapse;
}

.react-draggable {
  position: absolute;
}

.handle-wrapper {
  z-index: var(--z-index-handle-wrapper);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-position: center;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
  box-sizing: border-box;
  color: var(--color-handle-wrapper-text);
  vertical-align: middle;

  .handle.top {
    top: -6px !important;
  }

  .handle.bottom {
    bottom: 2px !important;
  }

  .handle.top,
  .handle.bottom {
    &::after {
      display: block;
      content: '';
      background: white;
      width: 12px;
      height: 12px;
      border-radius: 12px;
      border: 2px solid #32a093;
      margin: 0 auto;
      box-sizing: border-box;
    }
  }
}

.layer-container {
  position: relative;
  height: 100%;
  z-index: var(--z-index-layer-container);
  .calendar {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .day-hours:not(.is-past) .cell:hover {
    background: var(--color-cell-hover);
    border: 2px dashed var(--color-cell-hover-text);
    border-radius: 8px;
    cursor: pointer;
    &:after {
      content: '+ Add availability';
      color: var(--color-cell-hover-text);
      margin: 6px;
      font-weight: 600;
      font-size: 12px;
    }
  }

  .event {
    z-index: var(--z-index-event);
  }

  .calendar {
    position: absolute;
    z-index: var(--z-index-calendar);
  }

  .drag-box {
    will-change: transform;
    contain: strict;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 0;
    top: 0;
    z-index: var(--z-index-drag-box);
    border: 3px dashed var(--color-drag-box-border);
    background: var(--color-drag-box-background);
    width: 100px;
    height: 100px;
  }
}

.draggable {
  z-index: var(--z-index-draggable);
}

.button-reset {
  outline: none;
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  all: unset;
  text-align: initial;
  color: inherit;
}

.is-draggable {
  user-select: none;
  cursor: grab;
}

.is-draggable:global(.react-draggable-dragging) {
  cursor: grabbing;
  z-index: var(--z-index-dragging) !important;
}

.tooltip {
  padding: 0;
  button {
    padding: 0.3125rem 0.5625rem;
    appearance: none;
    background: transparent;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;

    .icon {
      filter: brightness(0) invert(1);
    }
  }
}

.event {
  will-change: height;
  user-select: none;
  display: block;
  z-index: var(--z-index-event);
  margin: 0;
  position: absolute;
  font-size: 1rem;
  outline: none;

  &:not(.is-pending-creation):not([disabled]):not(.is-disabled) {
    &:focus,
    &:hover {
      box-shadow: 0 1px 5px 1px var(--color-event-shadow-1),
        0 5px 10px 1px var(--color-event-shadow-2);
    }

    &:focus-within {
      box-shadow: 0 1px 5px 1px var(--color-event-shadow-1),
        0 5px 10px 1px var(--color-event-shadow-2);
    }

    &:hover {
      --background: var(--color-event-hover-background);
    }

    &:focus {
      --background: var(--color-event-active-background);
      z-index: var(--z-index-event-active);
    }

    &:focus-within {
      --background: var(--color-event-active-background);
      z-index: var(--z-index-event-active);
    }
  }

  background: var(--background, var(--color-event-background));
  color: var(--color-event-text);
  left: 0;
  right: 0;
  width: 100px;
  height: 50px;
  text-overflow: ellipsis;
  border: 1px solid #32a093;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px rgba(50, 160, 147, 0.5);
  border-radius: 8px;

  &.is-google {
    background: var(--color-event-google-background);
    color: #2c5282;
    border: 1px solid var(--color-event-google-background);
    box-shadow: none;
    cursor: default;
  }

  &.is-past {
    background: var(--color-event-past-google-background);
    color: var(--color-event-text-past-google);
    box-shadow: none;
  }

  &.is-pending-creation {
    z-index: var(--z-index-event-is-pending-creation);
    opacity: 0.75;
  }

  &.is-being-edited {
  }
}

.indicator {
  background: #2c5282;
  z-index: var(--z-index-event);
  position: relative;
  pointer-events: none;
  &:before {
    content: '';
    position: absolute;
    top: -6px;
    left: -7px;
    background: #2c5282;
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }
}

.hours-container {
  display: flex;
}

.day-column {
  flex: 1 1 var(--cell-width, 250px);
  min-width: var(--cell-min-width, 189px);

  .day-hours {
    display: flex;
    flex-direction: column;
    position: relative;
    &.is-past {
      pointer-events: none;
    }
  }

  .cell {
    .time {
      color: var(--color-timeline-text);
      font-size: 0.75em;
      text-transform: uppercase;
    }

    flex: 1 1 var(--cell-height, 42px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .title {
    padding: 10px 10px;
  }
}

.cell:first-child,
.cell + .cell {
  border: 1px solid var(--color-cell-border);
  border-bottom: 0;
  border-left: 0;
}

.header .cell {
  line-height: 24px;
  justify-content: center;
  align-items: center;
  color: #718096;

  span {
    display: inline-block;
    margin-right: 3px;
    font-weight: bold;
    &:first-of-type {
      font-weight: normal;
    }
  }

  &.is-past {
    color: var(--color-header-text-past);
    pointer-events: none;
  }
  &.is-current {
    color: var(--color-header-text-current);
    .date {
      color: white;
      background: #2c5282;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      font-weight: bold;
      margin-left: 3px;
    }
  }
}

.header .cell .day-header-row {
  z-index: var(--z-index-day-header-row);
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: var(--z-index-day-header-row);
  border: 1px solid var(--color-cell-border);
  box-sizing: border-box;
  box-shadow: 0px 2px 5px rgba(203, 212, 224, 0.5),
    -1px 1px 0px var(--color-cell-border),
    -1px -1px 0px var(--color-cell-border);
  border-radius: 8px 8px 0px 0px;
  background: var(--color-header-background);
  border-collapse: collapse;
}

.sticky-left {
  position: sticky;
  left: 0;
  &.day-hours {
    border-left: 0;
  }
}

.header {
  will-change: transform;
  z-index: var(--z-index-header);
}

.day-column.first {
  width: 100px;
  max-width: 100px;
  min-width: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
}

.range-boxes {
  .event-content {
    overflow: hidden;
    padding: 4px 10px;
    font-weight: bold;

    font-size: 12px;
    width: 100%;
    height: 100%;
    white-space: pre-wrap;

    & > * {
      width: 100%;
    }
  }

  .hide-separator {
    .start:after {
      content: ' ';
    }
  }

  .external-meeting {
    .start:after {
      content: ' ';
    }
    .end {
      display: inline-block;
      height: 50%;
      font-weight: normal;
      overflow: hidden;
    }
  }

  .start {
    display: inline;
    &:after {
      content: ' – ';
      display: inline;
    }
  }

  .end {
    display: inline;
  }
  .status {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
  }
}

.timeline {
  display: table-cell;
  text-align: end;
  z-index: var(--z-index-timeline);

  .day-column {
    background: var(--color-timeline-background);
    min-width: auto;
    flex: 0 0 auto;
  }
  .day-hours {
    border-right: 1px solid var(--color-cell-border);
  }
}

.timeline .header {
  z-index: var(--z-index-timeline-header);
  box-shadow: none;
  background: var(--color-timeline-background);
  height: 46px;
  position: sticky;
  top: 0;

  .cell {
    visibility: hidden;
  }
}

.timeline > *:not(.header) .cell {
  position: relative;
  top: -8px;
  border-left: 0;
  &:first-child {
    visibility: hidden;
  }
  &:hover,
  + .cell:hover {
    background: var(--color-grid-background);
    &:after {
      content: none;
    }
  }

  .time {
    background: inherit;
    padding: 0 12px;
  }

  border-color: transparent;
  text-align: end;
  justify-content: flex-end;
}

// Modal

// Define defaults for each variable.
@import url('http://fonts.cdnfonts.com/css/bozon');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

$base-font-family: 'Work Sans', sans-serif;
$base-font-size: 17px !default;
$mobile-font-size: 15px !default;
$lead-font-size: 19px !default;
$base-font-weight: 500 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 4px !default;

$border-radius-base: 6px !default;

$grey-base: #111 !default;
$grey-color: #545863 !default;
$grey-color-light: #c8cade !default;
$grey-color-dark: darken($grey-color, 0.25) !default;
$grey-smoke: #fafbfd;

$text-color: #1c344b;
$text-color-quiet: #365778;
$text-color-muted: rgba($text-color-quiet, 0.7);
$background-color: #f6f9fc;
$background-color-alt: #ffffff;
$brand-color: #85cfc6;
$border-color: rgba(173, 191, 206, 0.4);
$success-color: #85cfc6;
$warning-color: #e54918;
$accent-color: #ffe682;
$ifneedbe-color: #ff8f66;

$google-color: #4285f4;
$apple-color: #000000;
$office-color: #ea3e23;

$google-session-color: #dae7fc;
$office-session-color: #e54918 15%;
$apple-session-color: #f2f2f2;

$primary-color: #2d8176;

$table-text-align: left !default;

// Width of the content area
$content-width: 1440px !default;

// Header
$header-height: 90px !default;

$card-inner-spacing: 1rem;
$border-width-base: 2px;

// animation
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}

$breakpoints: (
  'phone': 400px,
  'phone-wide': 480px,
  'phablet': 560px,
  'tablet-small': 640px,
  'tablet': 768px,
  'tablet-wide': 1024px,
  'desktop': 1248px,
  'desktop-wide': 1441px,
  'tv': 1920px,
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

$spacer: 1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
  0: (
    x: 0,
    y: 0,
  ),
  q: (
    x: (
      $spacer-x * 0.25,
    ),
    y: (
      $spacer-y * 0.25,
    ),
  ),
  h: (
    x: (
      $spacer-x * 0.5,
    ),
    y: (
      $spacer-y * 0.5,
    ),
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y,
  ),
  2: (
    x: (
      $spacer-x * 1.5,
    ),
    y: (
      $spacer-y * 1.5,
    ),
  ),
  3: (
    x: (
      $spacer-x * 3,
    ),
    y: (
      $spacer-y * 3,
    ),
  ),
  4: (
    x: (
      $spacer-x * 4,
    ),
    y: (
      $spacer-y * 4,
    ),
  ),
);

@mixin spacing() {
  @each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $lengths in $spacers {
      $length-x: map-get($lengths, x);
      $length-y: map-get($lengths, y);

      .#{$abbrev}-#{$size} {
        #{$prop}: $length-y $length-x !important;
      }
      .#{$abbrev}t-#{$size} {
        #{$prop}-top: $length-y !important;
      }
      .#{$abbrev}r-#{$size} {
        #{$prop}-right: $length-x !important;
      }
      .#{$abbrev}b-#{$size} {
        #{$prop}-bottom: $length-y !important;
      }
      .#{$abbrev}l-#{$size} {
        #{$prop}-left: $length-x !important;
      }
    }
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

.layout {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $mobile-font-size;
  line-height: $base-line-height;
  color: $text-color;
  flex-direction: column;
  max-width: 100vw;
  background-color: $background-color;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  font-weight: 500;
  display: flex;
  overflow-x: hidden;
  @include mq('tablet') {
    font-size: $base-font-size/1.05;
    line-height: $base-line-height/1.05;
  }
  @include mq('desktop-wide') {
    font-size: $base-font-size;
    line-height: $base-line-height;
  }
}

#react-cool-portal .layout {
  display: inline;
}

.modal {
  animation: slideIn 0.3s ease-out;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 360px;
  overflow: auto;
  display: none;
  z-index: 100;
  color: inherit;
  &-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 360px;
    z-index: 100;
    background-color: $background-color-alt;
    animation: fadeIn 0.3s linear;
    padding: 24px;
    border: 1px solid #e2e8f0;
    box-shadow: 0px -8px 16px rgba(74, 87, 104, 0.1);
    border-radius: 20px 20px 0px 0px;
    &-fadeout {
      animation-name: fadeOut;
      .modal {
        animation-name: slideOut;
      }
    }
  }
  &.is-opened {
    display: block;
  }
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba($text-color-quiet, 0.7);
  }
  &-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%) translateY(-50%);
    z-index: 102;
    background-color: white;
    max-width: 980px;
    @include mq('tablet', max) {
      width: 90%;
    }
    border-radius: $border-radius-base;
    margin: 0 auto;
    &-focus {
      max-width: 480px;
      @include mq('tablet') {
        width: 480px;
      }
    }
    &-tight {
      max-width: 720px;
    }
    &-small {
      max-width: 840px;
    }
  }
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    .remove-btn {
      font: inherit;
      font-size: 12px;
      font-weight: 600;
      color: inherit;
      padding: 8px 12px;
      background: #ffffff;
      border: 1px solid #cbd4e0;
      box-shadow: 0px 1px 3px rgba(26, 34, 44, 0.1);
      border-radius: 8px;
      margin-left: auto;
    }
  }
  .title {
    font-family: 'Bozon', sans-serif;
    margin-bottom: 0;
    padding-right: 20px;
    font-size: 16px;
    font-weight: bold;
  }
  .modal-body {
    max-height: 90vh;
    position: relative;
    &-noscroll {
      overflow-y: auto;
    }
    .save-btn {
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      margin: 24px auto;
      display: flex;
      text-align: center;
      padding: 9px 16px;
      color: #fff;
      background: #2c5282;
      border-radius: 8px;
      border: none;
      width: 100%;
      justify-content: center;
    }
    .time-row {
      display: flex;
      align-items: center;
      margin-bottom: $spacing-unit * 4;
      svg {
        margin-right: 15px;
        align-self: center;
      }
      label {
        font-family: 'Bozon', sans-serif;
        font-weight: 600;
        white-space: nowrap;
      }
      input,
      .dropdown-label {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        line-height: 22px;
        color: #2c5282;
        border: 1px solid #cbd4e0;
        padding: 12px;
        box-sizing: border-box;
        border-radius: 8px;
        + span {
          margin: 0 12px;
        }
        &.input-error {
          border: 1px solid red;
        }
      }
    }
    .input-container {
      justify-self: right;
    }
    .time-input {
      text-align: center;
      margin-top: 0;
      margin-left: auto;
      width: 48px;
    }
    .dropdown {
      position: relative;
      width: 80px;
      align-self: normal;
      &-label {
        pointer-events: none;
        position: absolute;
        width: 80px;
        background-color: #fff;
        z-index: 999;
        text-align: initial;
        &::after {
          position: absolute;
          content: '>';
          transform: rotate(90deg);
          font-size: 20px;
          right: 12px;
        }
      }
      &-select {
        position: absolute;
        width: 80px;
        height: 48px;
        border-radius: 8px;
        outline: none;
        border: none;
        &:focus:active + span:after {
          transform: rotate(270deg);
        }
      }
    }
  }
  .close {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    text-align: center;
    background-color: rgba($text-color-quiet, 0.1);
    margin-left: $spacing-unit * 4;
    border: none;
    &::before {
      font-weight: bold;
      content: '×';
      color: $primary-color;
      font-size: 22px;
    }
  }
}

.show {
  display: block;
  &-up-to {
    &-desktops {
      @include mq('desktop') {
        display: none !important;
      }
    }
    &-laptops {
      @include mq('tablet-wide') {
        display: none !important;
      }
    }
    &-tablets {
      @include mq('tablet') {
        display: none !important;
      }
    }
    &-phones {
      @include mq('phone') {
        display: none !important;
      }
    }
  }
}
.hide {
  display: none;
}
